.Dropdown {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  border-radius: 2px;
}

.Dropdown a {
  display: block;
  padding: 8px;
}

.Dropdown a:hover {
  color: #fff;
  background-color: #337ab7;
}
